
/* */
.containerNav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40%;
    height: 10vh;
    background-color: black;
    color: white;
    width: 100%;
}

.logoDiv {
    height: 100%;
    width: 300px;
    gap: 50px;
    background-color: blue;
    display: flex;
    color: white;
    font-size: 15px;
   
   
}

.containerNav nav{
    display: flex;
    gap: 5%;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 2px;
    flex-wrap: wrap;
} 